DB_NAME=expenses.db
GOOGLE_API_KEY = "AQ.dsahjkhduiahddadbnajkhdjkhfddfdfsjkhashm"
FMCP_ACCESS_KEY = "fmcp_sdddddddddddddddddddddddddddddddddsdd"
REMOTE_MCP_SERVER_URL = "https://expense-tracking-mcp.fastmcp.app/mcp"